<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>관리자 │ 경북소프트웨어고등학교</title>
    <link rel="stylesheet" href="/global/css/default.css" />
    <link rel="stylesheet" href="/global/css/footer.css" />
    <link rel="icon" href="/app/favicon.ico" />
    <link rel="stylesheet" href="/global/toast/toast.css" />
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="toast">
      <div id="toast-body">
        <div id="toast-icon"></div>
        <div id="toast-text"></div>
      </div>
    </div>
    <div id="react-root"></div>
    <script type="text/javascript" src="/global/toast/toast.js"></script>
    <script type="text/babel" src="/global/home.js"></script>
  </body>

</html>